################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/WayPrecision/.vs/WayPrecision
/WayPrecision/bin/Debug
/WayPrecision/obj
/WayPrecision/.vs/ProjectEvaluation
/WayPrecision.Domain/bin/Debug/net9.0
/WayPrecision.Domain/obj
/WayPrecision.Test/bin/Debug/net9.0
/WayPrecision.Test/obj
/WayPrecision/bin/Release
/WayPrecision.Domain/bin/Release
/WayPrecision.Test/bin/Release/net9.0
